<div class="navbar-fixed" style="z-index: 1001 !important">
  <nav>
    <div class="nav-wrapper accent-4" [style.backgroundColor]="'black'">
      <div class="container">
        <a class="brand-logo" href="#">
          <img
            class="my-logo"
            src="./assets/logo1.jpg"
            height="65px"
            width="90px"
          />
        </a>
        <a class="sidenav-trigger" data-target="mobile-demo" href="#">
          <i class="material-icons">Menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li><a routerLink="credor" class="flow-text">Credores</a></li>
          <li><a routerLink="conta" class="flow-text">Contas</a></li>
          <li><a routerLink="lancamento" class="flow-text">Lançamentos</a></li>
          <li><a routerLink="sobre" class="flow-text">Sobre</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <ul class="sidenav amber" id="mobile-demo" #mobile>
    <div class="row">
      <div class="col s8 offset-s2">
        <div class="center">
          <img class="circle responsdive-img" src="./assets/..." />
        </div>
      </div>
    </div>
    <li><a routerLink="credor" class="flow-text">Credores</a></li>
    <li><a routerLink="conta" class="flow-text">Contas</a></li>
    <li><a routerLink="lancamento" class="flow-text">Lançamentos</a></li>
    <li><a routerLink="sobre" class="flow-text">Sobre</a></li>
  </ul>
</div>
