
<div class="container sobre">
  <h1>Sobre o projeto</h1>
  <h3>Desenvolvido como material de estudo da disciplina de Frameworks Web da UTFPR</h3>
  <h4>MBA de Especialização na Tecnologia Java</h4>
  <p></p>
  <h5>Autor Jean Vargas - 2022</h5>
  <pre>
    O conhecimento que tenho em Angular foi obtido através da disciplina e de outro projeto que fiz por meio de estudos pessoais.
    É claro que o projeto possui bugs mas, dentro do tempo disponível, foi aplicado tudo o que foi exigido dentro das atividades.
    E, além do que foi apresentado, também tentei colocar no projeto coisas relativas a orientação a objetos, para gerar
    reaproveitamento de código.
    Seria isso.... Obrigado.
  </pre>
</div>
