@import "~materialize-css/dist/css/materialize.css";
@import "~material-icons/iconfont/material-icons.css";


:root {
  --primary: red;
}

.intro
 {
   text-align: center;
   padding-top: 13%;
   padding-bottom: 13%;
   min-height: 680px;
   margin-bottom: 50px;
   background-image: url("/assets/logo.jpg");
   background-repeat: no-repeat;
   background-size: cover;
 }

div.container4 {
  height: 10em;
  position: relative
}

div.container4 p {
  margin: 0;
  background: yellow;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
